local/
node_modules/
__pycache__/
*.py[cod]
scripts/data/bundle/census_boundaries/
scripts/data/bundle/elections_canada/
scripts/data/bundle/output/
scripts/data/external/statcan/*.csv
scripts/data/external/statcan/*.CSV
dist/

.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
server/map-api-service/store/
.vscode/